@media (max-width: 767px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --cont_padding: 20px;
        --font_size_title_b: 48px;
        --font_size_title: 42px;
        --font_size_title_s: 32px;
        --inner_gap: 20px;
        --inner_gap_s: 10px;
    }



    .bg_dark
    {
        margin-bottom: 60px;
        padding-block: 60px;

        gap: 60px;
    }


    .bg_grey
    {
        margin-bottom: 60px;
    }



    .mob_all_link
    {
        display: block;
    }



    /*--------------
        Fancybox
    --------------*/
    .fancybox__backdrop:before
    {
        height: 360px;

        background: radial-gradient(77.86% 100% at 0% -2.09%, rgba(255, 227, 100, .35) 0%, rgba(0, 0, 0, .35) 100%);
    }


    .fancybox__backdrop:after
    {
        height: 360px;

        background: radial-gradient(77.86% 100% at 0% -2.09%, rgba(111, 189, 250, .35) 0%, rgba(0, 0, 0, .35) 100%);
    }



    /*----------------
        Pagination
    ----------------*/
    .pagination a
    {
        font-size: var(--font_size_s);
    }



    /*------------
        Header
    ------------*/
    header
    {
        padding-block: 24px;
    }


    header .phone
    {
        display: none;
    }


    header .menu_btn
    {
        margin-left: 30px;
    }



    /*---------------
        Page head
    ---------------*/
    .page_head
    {
        padding-top: 60px;
    }


    .page_title
    {
        line-height: 1;
    }


    .page_desc
    {
        font-size: var(--font_size);
    }



    /*----------------
        Menu modal
    ----------------*/
    .menu_modal
    {
        width: 100%;
        padding-inline: var(--cont_padding);
    }



    /*----------------
        Block head
    ----------------*/
    .block_head
    {
        margin-bottom: var(--cont_padding);
    }


    .block_head .title.small
    {
        font-size: calc(var(--font_size_title_s) - 4px);
    }


    .block_head .all_link
    {
        display: none;
    }



    /*------------------
        Form elements
    ------------------*/
    .form
    {
        --form_line_offset: 24px;
        --form_input_height: 56px;
    }


    .form .submit_btn
    {
        font-size: var(--font_size);
    }


    .form .submit_btn span
    {
        height: 48px;
    }



    /*----------------
        Typography
    ----------------*/
    .text_block > *.big
    {
        margin-bottom: 24px;
    }


    .text_block h2
    {
        font-size: 24px;
    }


    .text_block * + h2
    {
        margin-top: 60px;
    }


    .text_block .images
    {
        margin-block: 60px;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section .cont
    {
        padding-block: 140px 60px;
    }


    .first_section .slider_btns
    {
        margin-bottom: var(--cont_padding);
    }


    .first_section .slider_btn
    {
        padding-block: 6px;
        padding-inline: 12px;

        font-size: 10px;
    }


    .first_section .title
    {
        font-size: var(--font_size_title_s);
    }


    .first_section .btn span
    {
        height: 48px;

        font-size: var(--font_size_s);
    }



    /*------------
        Design
    ------------*/
    .design .head .title
    {
        line-height: calc(100% + 6px);
    }


    .design .head .desc
    {
        width: 351px;
        max-width: 100%;

        font-size: var(--font_size_s);
        line-height: calc(100% + 6px);
    }


    .design .link
    {
        margin-top: 38px;
    }


    .design .link a
    {
        height: 66px;
        padding-inline: 30px;
    }



    /*----------------------------
        Equipment and delivery
    ----------------------------*/
    .bg_grey .equipment_delivery
    {
        margin-bottom: 60px;
    }


    .equipment_delivery.bg_grey
    {
        padding-block: 48px 60px;
    }


    .equipment_delivery .item
    {
        padding-block: 0 30px;
        padding-inline: 24px;
    }


    .equipment_delivery .item .thumb
    {
        height: 180px;
    }


    .equipment_delivery .item .name
    {
        font-size: 24px;
    }


    .equipment_delivery .item .desc
    {
        line-height: calc(100% + 6px);
    }



    /*--------------
        Projects
    --------------*/
    .projects
    {
        margin-bottom: 60px;
    }


    .projects .grid_row
    {
        --count_per_line: 1;
    }



    /*----------------
        About info
    ----------------*/
    .about_info
    {
        margin-bottom: 60px;
    }


    .about_info.bg_grey
    {
        padding-block: 60px;
    }



    /*--------------
        Articles
    --------------*/
    .articles
    {
        margin-bottom: 60px;
    }


    .articles .grid_row
    {
        --count_per_line: 1;
    }


    .articles .article .name
    {
        font-size: var(--font_size);
    }



    /*------------------
        Action block
    ------------------*/
    .action_block
    {
        margin-bottom: 60px;
    }


    .action_block .data
    {
        padding-block: 272px var(--cont_padding_double);
    }


    .action_block.view2 .data
    {
        padding-left: var(--cont_padding_double);
    }


    .action_block .info
    {
        width: 100%;
    }


    .action_block .title
    {
        font-size: 48px;
    }


    .action_block.view2 .bg:after
    {
        width: 100%;
    }



    /*-------------------
        Services head
    -------------------*/
    .services_head .data
    {
        min-height: 422px;
        padding-block: 30px;
        padding-inline: 24px;
    }


    .services_head .data:before,
    .services_head .data:after
    {
        height: 65%;

        aspect-ratio: .75 / 1;
    }


    .services_head .desc
    {
        width: 265px;
    }



    /*----------------
        About page
    ----------------*/
    .about_page
    {
        margin-bottom: 0;
        padding-block: var(--cont_padding_double) 60px;
    }


    .about_info .company
    {
        margin-bottom: var(--cont_padding_double);
    }


    .about_info .slogan
    {
        margin-top: var(--cont_padding_double);
    }



    /*--------------
        Services
    --------------*/
    .services .grid_row
    {
        --count_per_line: 1;
    }


    .services .service
    {
        height: 100px;
    }



    /*------------------------
        For designers head
    ------------------------*/
    .for_designers_head .title
    {
        line-height: 1;
    }


    .for_designers_head .desc
    {
        margin-top: var(--inner_gap);

        font-size: var(--font_size);
    }


    .for_designers_head .btn span
    {
        height: 48px;

        font-size: var(--font_size_s);
    }



    /*------------------
        Service head
    ------------------*/
    .service_head
    {
        padding-block: 140px 60px;
    }


    .service_head .title
    {
        line-height: 1;
    }


    .service_head .desc
    {
        width: 100%;
        margin-top: var(--cont_padding);

        font-size: var(--font_size);
    }


    .service_head .btn span
    {
        height: 48px;

        font-size: var(--font_size_s);
    }



    /*------------------
        Service info
    ------------------*/
    .service_info .cont
    {
        gap: 60px;
    }


    .service_info .data
    {
        gap: var(--inner_gap_s);
    }


    .service_info .title,
    .service_info .cols .title
    {
        font-size: 24px;
    }



    /*----------------
        Inner page
    ----------------*/
    .inner_page
    {
        padding-block: var(--cont_padding_double) 0;
    }


    .inner_page .head
    {
        margin-bottom: var(--cont_padding_double);
    }


    .inner_page .head .desc
    {
        margin-top: var(--cont_padding);

        font-size: var(--font_size_s);
    }



    /*-------------------
        Contacts info
    -------------------*/
    .contacts_info .item .val
    {
        font-size: 18px;
    }


    .contacts_info .item .messengers .icon
    {
        width: 24px;
        height: 24px;
    }


    .contacts_info .item .messengers .tg_link .icon
    {
        width: 24px;
        height: 20px;
    }


    .contacts_info .item .desc
    {
        font-size: var(--font_size_s);
    }



    /*---------------
        Subscribe
    ---------------*/
    .subscribe
    {
        margin-bottom: 120px;
    }


    .subscribe .links a
    {
        height: 56px;
        padding-inline: 24px;

        font-size: 16px;
    }


    .subscribe .links .instagram_link .icon,
    .subscribe .links .pinterest_link .icon
    {
        width: 32px;
        height: 32px;
    }


    .subscribe .links .vk_link .icon
    {
        width: 32px;
        height: 20px;
    }



    /*------------------
        Article info
    ------------------*/
    .article_info
    {
        padding-top: var(--cont_padding_double);
    }


    .article_info .article_title
    {
        font-size: var(--font_size_title_s);
        line-height: calc(100% + 8px);
    }


    .article_info .text_block
    {
        font-size: var(--font_size_s);
    }



    .article_info .sections .data
    {
        gap: var(--inner_gap_s);
    }


    .article_info .sections .title,
    .article_info .sections .cols .title
    {
        font-size: 24px;
    }



    /*------------------
        Project info
    ------------------*/
    .project_info
    {
        padding-top: var(--cont_padding_double);
    }


    .project_info .project_title
    {
        font-size: var(--font_size_title_s);
        line-height: calc(100% + 8px);
    }


    .project_info .gallery
    {
        margin-bottom: calc(var(--cont_padding_half) * -1);
        margin-left: calc(var(--cont_padding_half) * -1);
    }


    .project_info .gallery > *
    {
        width: calc(33.333% - var(--cont_padding_half));
        margin-bottom: var(--cont_padding_half);
        margin-left: var(--cont_padding_half);
    }


    .project_info .gallery > *.middle
    {
        width: calc(50% - var(--cont_padding_half));
    }


    .project_info .gallery > *.big
    {
        width: calc(100% - var(--cont_padding_half));
    }



    /*----------------
        Error page
    ----------------*/
    .error_page
    {
        padding-block: 140px 60px;
    }


    .error_page .desc
    {
        font-size: var(--font_size_s);
    }


    .error_page .links
    {
        gap: var(--inner_gap);
    }


    .error_page .links a
    {
        height: 60px;

        font-size: var(--font_size_s);
    }


    .error_page .links a.back
    {
        width: 200px;

        font-size: 16px;
    }



    /*------------
        Footer
    ------------*/
    footer .data
    {
        padding-block: 60px;
    }


    footer .title
    {
        font-size: 22px;
    }


    footer .contacts
    {
        width: 100%;
    }


    footer .links
    {
        margin-top: 60px;
    }



    footer .logo
    {
        margin-bottom: 30px;
    }


    footer .copyright
    {
        width: 100%;
        margin-bottom: 30px;
    }



    /*-----------
        PopUp
    -----------*/
    .modal_desc
    {
        font-size: var(--font_size_s);
    }
}
