@media (max-width: 479px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size_title_s: 28px;
    }



    /*----------------
        Pagination
    ----------------*/
    .pagination
    {
        gap: 6px;
    }


    .pagination a.mob_hide
    {
        display: none;
    }



    /*------------
        Header
    ------------*/
    header .logo img
    {
        width: 128px;
        height: 16px;
    }


    header .logo img + img
    {
        width: 61px;
        height: 16px;
    }



    /*----------------
        Typography
    ----------------*/
    .text_block .images
    {
        flex-wrap: wrap;
    }



    /*------------------
        Action block
    ------------------*/
    .action_block .data
    {
        padding-inline: 30px;
    }



    /*-------------------
        Services head
    -------------------*/
    .services .service
    {
        height: 108px;
    }


    .services .service .name
    {
        font-size: 18px;
    }



    /*------------------------
        For designers info
    ------------------------*/
    .for_designers_info .desc
    {
        font-size: var(--font_size_s);
    }



    /*---------------
        Subscribe
    ---------------*/
    .subscribe .links
    {
        gap: var(--inner_gap_s);
    }


    .subscribe .links a
    {
        height: 52px;
        padding-inline: 20px;

        font-size: 15px;

        gap: 12px;
    }



    /*----------------
        Error page
    ----------------*/
    .error_page .links > *
    {
        width: 100%;
    }


    .error_page .links a
    {
        height: auto;
    }


    .error_page .links a.back
    {
        width: 100%;
        height: 60px;
    }



    /*------------
        Footer
    ------------*/
    footer .links
    {
        width: 100%;
    }


    footer .links .items
    {
        max-width: 100%;
    }


    footer .link
    {
        width: calc(50% - 10px);
    }


    footer .socials
    {
        width: 100%;
        margin-top: 30px;
    }
}
