@media print,
(max-width: 1279px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --custom_scroll_width: 5px;
        --custom_scroll_height: 5px;
        --font_size_title_b: 92px;
        --font_size_title: 52px;
        --font_size_title_s: 36px;
        --block_head_offset: 24px;
    }



    .bg_dark
    {
        margin-bottom: 100px;
    }


    .bg_dark:before
    {
        background: radial-gradient(100% 50% at 0% -2.09%, rgba(111, 189, 250, .50) 0%, rgba(0, 0, 0, .50) 100%);
    }



    /*------------
        Header
    ------------*/
    header
    {
        padding-block: var(--cont_padding);
    }


    header .logo img
    {
        width: 160px;
        height: 20px;
    }


    header .logo img + img
    {
        width: 76px;
        height: 20px;
    }


    header .menu
    {
        margin-left: var(--cont_padding_double);

        gap: var(--inner_gap);
    }


    header .menu_btn
    {
        margin-left: var(--cont_padding_double);
    }



    /*---------------
        Page head
    ---------------*/
    .page_head
    {
        padding-top: 80px;
    }


    .page_desc
    {
        margin-top: var(--cont_padding);
    }



    /*----------------
        Menu modal
    ----------------*/
    .menu_modal
    {
        width: 304px;
        padding-block: 100px var(--cont_padding_double);
        padding-inline: 40px;
    }


    .menu_modal .socials
    {
        margin-top: 60px;

        gap: 16px;
    }


    .menu_modal .socials .icon
    {
        width: 24px;
        height: 24px;
    }


    .menu_modal .socials .vk_link .icon
    {
        width: 30px;
        height: 19px;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head .all_link a
    {
        height: 52px;

        font-size: var(--font_size);
    }



    /*----------------
        Typography
    ----------------*/
    .text_block > *.big
    {
        margin-bottom: 30px;
    }


    .text_block h2
    {
        font-size: 30px;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section .cont
    {
        padding-block: 160px 80px;
    }


    .first_section .data
    {
        width: 800px;
    }


    .first_section .btn
    {
        margin-top: var(--cont_padding_double);
        padding: 8px;
    }


    .first_section .btn span
    {
        height: 52px;
    }



    /*------------
        Design
    ------------*/
    .design .head .desc
    {
        width: 304px;

        font-size: var(--font_size);
    }


    .design .item
    {
        min-height: 162px;

        font-size: var(--font_size_m);
    }


    .design .link a
    {
        height: 68px;

        font-size: var(--font_size_m);
    }



    /*----------------------------
        Equipment and delivery
    ----------------------------*/
    .equipment_delivery.bg_grey
    {
        padding-block: 80px;
    }


    .equipment_delivery.bg_grey
    {
        padding-block: 60px 80px;
    }


    .equipment_delivery .item
    {
        padding-block: 0 var(--cont_padding);
        padding-inline: var(--cont_padding);
    }


    .equipment_delivery .item .thumb
    {
        height: 220px;
    }


    .equipment_delivery .item .name
    {
        font-size: 28px;
    }



    /*--------------
        Projects
    --------------*/
    .projects
    {
        margin-bottom: 100px;
    }


    .projects .project .type
    {
        top: 16px;

        font-size: 10px;
    }


    .projects .project .name
    {
        padding-block: var(--cont_padding);
        padding-inline: var(--cont_padding);

        font-size: var(--font_size_m);
    }



    /*----------------
        About info
    ----------------*/
    .about_info.bg_grey
    {
        padding-block: 80px;
    }


    .about_info .data
    {
        width: calc(50% - var(--cont_padding_double));
    }


    .about_info .data.big_pad
    {
        padding: 0;
    }



    /*--------------
        Articles
    --------------*/
    .articles
    {
        margin-bottom: 100px;
    }


    .articles .article .date
    {
        font-size: 10px;
    }


    .articles .article .name
    {
        font-size: var(--font_size_m);
    }



    /*------------------
        Action block
    ------------------*/
    .action_block
    {
        margin-bottom: 80px;
    }


    .action_block .data
    {
        padding-block: 68px;
        padding-inline: var(--cont_padding_double);
    }


    .action_block.view2 .data
    {
        padding-left: 140px;
    }


    .action_block .info
    {
        width: 380px;

        gap: var(--cont_padding);
    }


    .action_block .title
    {
        font-size: 64px;
    }


    .action_block .desc
    {
        font-size: var(--font_size_s);
    }


    .action_block .btn span
    {
        height: 48px;
    }


    .action_block .bg:after
    {
        width: 65%;
    }



    /*-------------------
        Services head
    -------------------*/
    .services_head .data
    {
        min-height: 400px;
        padding: var(--cont_padding);
    }


    .services_head .desc
    {
        width: 624px;

        font-size: var(--font_size_m);
    }



    /*----------------
        About page
    ----------------*/
    .about_page
    {
        margin-bottom: 0;
        padding-block: 80px 60px;
    }


    .about_info .company
    {
        margin-bottom: 60px;
    }


    .about_info .slogan
    {
        margin-top: 60px;
    }



    /*--------------
        Services
    --------------*/
    .services
    {
        padding-block: 60px;
    }


    .services .service .name
    {
        font-size: 22px;
    }



    /*------------------------
        For designers head
    ------------------------*/
    .for_designers_head
    {
        padding-block: 80px;
    }


    .for_designers_head .btn
    {
        padding: 8px;
    }


    .for_designers_head .btn span
    {
        height: 52px;
    }



    /*------------------------
        For designers info
    ------------------------*/
    .for_designers_info
    {
        padding-block: 60px;
    }


    .for_designers_info .desc
    {
        width: 50%;

        font-size: var(--font_size);
    }



    /*------------------
        Service head
    ------------------*/
    .service_head
    {
        padding-block: 160px 80px;
    }


    .service_head .desc
    {
        width: 724px;
    }


    .service_head .btn
    {
        padding: 8px;
    }


    .service_head .btn span
    {
        height: 52px;
    }



    /*------------------
        Service info
    ------------------*/
    .service_info
    {
        margin-bottom: 100px;
    }


    .service_info .data,
    .service_info .data.big
    {
        width: 400px;
    }


    .service_info .title,
    .service_info .cols .title
    {
        font-size: 30px;
    }


    .service_info .images,
    .service_info .data.big + .images
    {
        width: calc(100% - 448px);
    }



    /*----------------
        Inner page
    ----------------*/
    .inner_page
    {
        margin-bottom: 80px;
        padding-block: 80px 0;
    }


    .inner_page .head .desc
    {
        width: 880px;
    }



    /*-------------------
        Contacts info
    -------------------*/
    .contacts_info .item.email
    {
        width: 440px;
        margin-top: var(--cont_padding_double);
        margin-left: 0;
    }


    .contacts_info .item .val
    {
        font-size: 20px;
    }



    /*---------------
        Subscribe
    ---------------*/
    .subscribe
    {
        margin-bottom: 160px;
    }


    .subscribe .links
    {
        gap: var(--inner_gap_s);
    }


    .subscribe .links a
    {
        height: 68px;
        padding-inline: var(--cont_padding);

        font-size: 18px;
    }


    .subscribe .links .instagram_link .icon,
    .subscribe .links .pinterest_link .icon
    {
        width: 36px;
        height: 36px;
    }


    .subscribe .links .vk_link .icon
    {
        width: 36px;
        height: 23px;
    }


    .subscribe .links .tg_link .icon
    {
        width: 32px;
        height: 27px;
    }


    .subscribe .links .youtube_link .icon
    {
        width: 24px;
        height: 30px;
    }



    /*------------------
        Article info
    ------------------*/
    .article_info
    {
        margin-bottom: 60px;
        padding-top: 80px;
    }


    .article_info .head
    {
        margin-top: var(--cont_padding_double);
    }


    .article_info .head .image
    {
        width: 440px;
    }


    .article_info .head .info
    {
        width: calc(100% - 488px);
    }


    .article_info .head .summary
    {
        font-size: var(--font_size);
    }


    .article_info .text_block.border
    {
        margin-top: var(--cont_padding_double);
    }


    .article_info .sections + *
    {
        margin-top: 80px;
    }


    .article_info .sections .data,
    .article_info .sections .data.big
    {
        width: 400px;
    }


    .article_info .sections .title,
    .article_info .sections .cols .title
    {
        font-size: 30px;
    }


    .article_info .sections .images,
    .article_info .sections .data.big + .images
    {
        width: calc(100% - 448px);
    }



    /*------------------
        Project info
    ------------------*/
    .project_info
    {
        margin-bottom: 60px;
        padding-top: 80px;
    }


    .project_info .category
    {
        padding-block: 8px;
        padding-inline: 20px;
    }


    .project_info .head
    {
        margin-top: var(--cont_padding_double);
    }


    .project_info .head .image
    {
        width: 50%;
    }


    .project_info .head .data
    {
        width: calc(50% - var(--inner_gap));
    }


    .project_info .head .data > *
    {
        padding-inline: var(--inner_gap);
    }


    .project_info .head .info
    {
        padding-block: var(--inner_gap);
    }


    .project_info .head .info .text_block
    {
        margin-top: var(--inner_gap);

        font-size: var(--font_size);
        line-height: calc(100% + 8px);
    }



    /*------------
        Footer
    ------------*/
    footer .cont
    {
        justify-content: space-between;
    }


    footer .title
    {
        margin-bottom: var(--cont_padding);

        font-size: 22px;
    }


    footer .contacts,
    footer .logo
    {
        width: 248px;
        margin-right: 0;
    }


    footer .links
    {
        width: auto;
    }


    footer .links + .links
    {
        margin-left: 0;
    }


    footer .logo img
    {
        width: 160px;
        height: 20px;
    }


    footer .logo img + img
    {
        width: 76px;
        height: 20px;
    }


    footer .copyright,
    footer .link
    {
        margin-right: 0;
    }


    footer .socials
    {
        margin-left: 0;
    }


    footer .socials .icon
    {
        width: 24px;
        height: 24px;
    }


    footer .socials .vk_link .icon
    {
        width: 30px;
        height: 19px;
    }
}
