@media print,
(max-width: 1439px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size_title_b: 100px;
        --font_size_title: 60px;
        --font_size_title_s: 40px;
        --block_head_offset: 30px;
        --inner_gap: 24px;
        --inner_gap_s: 12px;
    }



    .bg_dark
    {
        margin-bottom: 120px;
    }


    .bg_grey
    {
        margin-bottom: 80px;
    }



    /*--------------
        Fancybox
    --------------*/
    .fancybox__content > .f-button.is-close-btn,
    .is-compact .fancybox__content > .f-button.is-close-btn
    {
        top: var(--cont_padding);

        --f-button-width: 25px;
        --f-button-height: 24px;
        --f-button-svg-width: 25px;
        --f-button-svg-height: 24px;
    }



    /*----------------
        Pagination
    ----------------*/
    .pagination
    {
        margin-top: 60px;

        gap: var(--inner_gap_s);
    }


    .pagination a
    {
        width: 60px;
        height: 60px;

        font-size: var(--font_size);
    }


    .pagination a.prev,
    .pagination a.next
    {
        padding-inline: calc(var(--inner_gap) - 2px);
    }



    /*------------
        Header
    ------------*/
    header
    {
        padding-block: 30px;
    }


    header .menu
    {
        margin-left: 100px;
    }


    header .menu_btn
    {
        width: 25px;
        height: 24px;
        margin-left: 60px;
    }


    header .menu_btn .icon + .icon
    {
        width: 25px;
        height: 24px;
    }



    /*---------------
        Page head
    ---------------*/
    .page_head
    {
        padding-top: 100px;
    }


    .page_desc
    {
        width: 1080px;
        margin-top: 32px;

        line-height: calc(100% + 8px);
    }



    /*----------------
        Menu modal
    ----------------*/
    .menu_modal
    {
        width: 349px;
        padding-block: 120px var(--cont_padding_double);
        padding-inline: 60px;
    }


    .menu_modal .socials
    {
        margin-top: 80px;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head .all_link a
    {
        height: 60px;
        padding-inline: calc(var(--cont_padding_double) - 2px);
    }



    /*------------------
        Form elements
    ------------------*/
    .form .submit_btn
    {
        padding: 8px;
    }


    .form .submit_btn span
    {
        height: 56px;
        padding-inline: 40px;
    }



    /*----------------
        Typography
    ----------------*/
    .text_block > *.big
    {
        margin-bottom: 40px;
    }


    .text_block ul
    {
        width: 860px;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section .cont
    {
        padding-block: 200px 100px;
    }


    .first_section .data
    {
        width: 960px;
    }


    .first_section .tags
    {
        margin-bottom: var(--cont_padding_double);
    }


    .first_section .tags > *
    {
        padding-block: 8px;
        padding-inline: 16px;
    }


    .first_section .btn
    {
        margin-top: 60px;
        padding: 10px;
    }


    .first_section .btn span
    {
        height: 64px;
        padding-inline: 40px;
    }



    /*------------
        Design
    ------------*/
    .design .head
    {
        margin-bottom: var(--cont_padding_double);
    }


    .design .head .desc
    {
        width: 400px;
        margin-top: var(--cont_padding);
    }


    .design .item
    {
        min-height: 180px;
        padding-block: var(--inner_gap);
        padding-inline: var(--inner_gap);

        font-size: var(--font_size_b);
    }


    .design .link
    {
        margin-top: 40px;
    }


    .design .link a
    {
        height: 80px;
        padding-inline: calc(var(--cont_padding_double) - 2px);

        font-size: var(--font_size_b);
    }



    /*----------------------------
        Equipment and delivery
    ----------------------------*/
    .bg_grey .equipment_delivery
    {
        margin-bottom: 80px;
    }


    .equipment_delivery.bg_grey
    {
        padding-block: 80px 100px;
    }


    .equipment_delivery .item
    {
        padding-block: 0 32px;
        padding-inline: 32px;
    }


    .equipment_delivery .item .thumb
    {
        height: 240px;
    }


    .equipment_delivery .item .name
    {
        font-size: 36px;
    }


    .equipment_delivery .item .desc
    {
        font-size: var(--font_size);
    }



    /*--------------
        Projects
    --------------*/
    .projects
    {
        margin-bottom: 120px;
    }


    .projects .grid_row
    {
        --offset_v: var(--cont_padding_double);
    }


    .projects .project .type
    {
        top: var(--cont_padding);

        padding-block: 8px;
        padding-inline: 16px;
    }


    .projects .project .name
    {
        padding-block: 30px;
        padding-inline: 30px;
    }



    /*----------------
        About info
    ----------------*/
    .about_info
    {
        margin-bottom: 80px;
    }


    .about_info.bg_grey
    {
        padding-block: 100px;
    }


    .about_info .data.big_pad
    {
        padding-top: var(--cont_padding);
    }



    /*--------------
        Articles
    --------------*/
    .articles
    {
        margin-bottom: 120px;
    }


    .articles .grid_row
    {
        --offset_v: var(--cont_padding_double);
    }


    .articles .article .date
    {
        top: 16px;

        padding-block: 8px;
        padding-inline: 16px;
    }


    .articles .article .name
    {
        font-size: var(--font_size_b);
    }



    /*------------------
        Action block
    ------------------*/
    .action_block
    {
        margin-bottom: 92px;
    }


    .action_block .data
    {
        padding-block: 80px;
        padding-inline: 68px;
    }


    .action_block.view2 .data
    {
        padding-left: 200px;
    }


    .action_block .info
    {
        width: 540px;
    }


    .action_block .title
    {
        font-size: 76px;
    }


    .action_block .btn span
    {
        height: 52px;
    }



    /*-------------------
        Services head
    -------------------*/
    .services_head
    {
        margin-bottom: var(--cont_padding);
    }


    .services_head .data
    {
        min-height: 480px;
        padding: 40px;

        gap: var(--cont_padding);
    }


    .services_head .desc
    {
        width: 700px;
    }



    /*----------------
        About page
    ----------------*/
    .about_page
    {
        margin-bottom: 0;
        padding-block: 100px 60px;
    }


    .about_info .company
    {
        margin-bottom: 68px;
    }


    .about_info .slogan
    {
        margin-top: 80px;
    }



    /*--------------
        Services
    --------------*/
    .services
    {
        padding-block: 60px 80px;
    }


    .services .grid_row
    {
        --offset_h: var(--inner_gap);
        --offset_v: var(--inner_gap);
    }


    .services .service
    {
        padding-inline: var(--inner_gap);
    }


    .services .service .name
    {
        font-size: 26px;
    }



    /*------------------------
        For designers head
    ------------------------*/
    .for_designers_head
    {
        padding-block: 100px;
    }


    .for_designers_head .desc
    {
        width: 900px;
        margin-top: 40px;

        line-height: calc(100% + 8px);
    }


    .for_designers_head .btn
    {
        padding: 10px;
    }



    /*------------------------
        For designers info
    ------------------------*/
    .for_designers_info
    {
        padding-block: 80px;
    }


    .for_designers_info .title
    {
        width: calc(50% - var(--cont_padding_double));
    }


    .for_designers_info .desc
    {
        width: calc(50% - var(--cont_padding_half));
        padding-top: 0;
    }



    /*------------------
        Service head
    ------------------*/
    .service_head
    {
        margin-bottom: var(--cont_padding_double);
        padding-block: 160px 100px;
    }


    .service_head .category
    {
        margin-bottom: 12px;
        padding-block: 8px;
        padding-inline: 20px;
    }


    .service_head .desc
    {
        width: 724px;
        margin-top: 40px;

        line-height: calc(100% + 8px);
    }


    .service_head .btn
    {
        padding: 10px;
    }


    .service_head .btn span
    {
        padding-inline: 40px;
    }



    /*------------------
        Service info
    ------------------*/
    .service_info
    {
        margin-bottom: 120px;
    }


    .service_info .cont
    {
        gap: 80px;
    }


    .service_info .data.big
    {
        width: 532px;
    }


    .service_info .images
    {
        width: calc(100% - 548px);
    }


    .service_info .data.big + .images
    {
        width: calc(100% - 580px);
    }


    .service_info .cols
    {
        gap: var(--cont_padding_double);
    }



    /*----------------
        Inner page
    ----------------*/
    .inner_page
    {
        margin-bottom: 100px;
        padding-block: 100px 0;
    }


    .inner_page .head
    {
        margin-bottom: 60px;
    }


    .inner_page .head .desc
    {
        width: 1000px;
        margin-top: 32px;

        line-height: calc(100% + 8px);
    }



    /*-------------------
        Contacts info
    -------------------*/
    .contacts_info
    {
        margin-bottom: 60px;
    }


    .contacts_info .updating
    {
        margin-bottom: 20px;
        padding-block: 8px;
        padding-inline: 20px;
    }


    .contacts_info .item.location
    {
        width: 440px;
    }


    .contacts_info .item.phone
    {
        width: 360px;
        margin-left: 80px;
    }


    .contacts_info .item.email
    {
        width: 280px;
        margin-left: var(--cont_padding_double);
    }


    .contacts_info .item .val
    {
        font-size: 22px;
    }


    .contacts_info .item .messengers .icon
    {
        width: 28px;
        height: 28px;
    }


    .contacts_info .item .messengers .tg_link .icon
    {
        width: 28px;
        height: 24px;
    }



    /*---------------
        Subscribe
    ---------------*/
    .subscribe
    {
        margin-bottom: 200px;
    }


    .subscribe .cont
    {
        gap: var(--cont_padding_double);
    }


    .subscribe .links a
    {
        height: 80px;
        padding-inline: 28px;

        font-size: 20px;
    }


    .subscribe .links .instagram_link .icon,
    .subscribe .links .pinterest_link .icon
    {
        width: 44px;
        height: 44px;
    }



    /*------------------
        Article info
    ------------------*/
    .article_info
    {
        margin-bottom: 80px;
        padding-top: 100px;
    }


    .article_info .category
    {
        padding-block: 8px;
        padding-inline: 20px;
    }


    .article_info .head
    {
        margin-top: 60px;
    }


    .article_info .head .info
    {
        width: calc(100% - 580px);

        gap: var(--cont_padding);
    }


    .article_info .head .date
    {
        padding-block: 8px;
        padding-inline: 20px;
    }


    .article_info .text_block.border
    {
        margin-top: 60px;
        padding-top: var(--cont_padding_double);
    }


    .article_info .sections + *
    {
        margin-top: 100px;
    }


    .article_info .sections .data.big
    {
        width: 532px;
    }


    .article_info .sections .images
    {
        width: calc(100% - 548px);
    }


    .article_info .sections .data.big + .images
    {
        width: calc(100% - 580px);
    }



    /*------------------
        Project info
    ------------------*/
    .project_info
    {
        margin-bottom: 80px;
        padding-top: 100px;
    }


    .project_info .category
    {
        padding-block: 8px;
        padding-inline: 20px;
    }


    .project_info .head
    {
        margin-top: 60px;
    }


    .project_info .head .data
    {
        width: calc(50% - 148px);
    }


    .project_info .head .info
    {
        padding-block: var(--cont_padding_double);
    }


    .project_info .head .info .office
    {
        gap: var(--inner_gap);
    }



    .project_info .gallery
    {
        margin-top: 60px;
    }



    /*----------------
        Error page
    ----------------*/
    .error_page
    {
        padding-block: 160px 80px;
    }


    .error_page .desc
    {
        min-height: 120px;
        margin-top: 32px;

        line-height: calc(100% + 8px);
    }


    .error_page .links
    {
        margin-top: var(--inner_gap);
    }


    .error_page .links a
    {
        height: 80px;

        line-height: calc(100% + 8px);
    }


    .error_page .links a.back
    {
        width: 280px;

        font-size: 20px;
    }



    /*------------
        Footer
    ------------*/
    footer .data
    {
        padding-block: 80px;
    }


    footer .bottom
    {
        padding-block: var(--cont_padding_double);
    }


    footer .title
    {
        margin-bottom: 30px;

        font-size: 26px;
    }


    footer .contacts,
    footer .logo
    {
        margin-right: 120px;
    }


    footer .contacts .callback_btn
    {
        margin-top: var(--cont_padding);
        padding-inline: 20px;
    }


    footer .copyright,
    footer .link
    {
        margin-right: 80px;
    }



    /*-----------
        PopUp
    -----------*/
    .modal
    {
        --modal_width: 472px;
    }


    .modal_desc
    {
        font-size: var(--font_size);
        line-height: calc(100% + 6px);
    }


    .modal .form
    {
        margin-top: var(--cont_padding);
    }
}
