@media print,
(max-width: 1023px)
{
    /*-------------------
        Global styles
    -------------------*/
    .bg_dark:before,
    .bg_dark:after
    {
        background: radial-gradient(100% 50% at 0% -2.09%, rgba(111, 189, 250, .50) 0%, rgba(0, 0, 0, .0) 100%);
    }



    /*----------------
        Pagination
    ----------------*/
    .pagination
    {
        margin-top: var(--cont_padding_double);
    }


    .pagination a
    {
        width: var(--cont_padding_double);
        height: var(--cont_padding_double);
    }



    /*------------
        Header
    ------------*/
    header .menu
    {
        display: none;
    }


    header .contacts
    {
        margin-left: auto;
    }



    /*---------------
        Page head
    ---------------*/
    .page_head
    {
        padding-top: 68px;
    }



    /*----------------
        Menu modal
    ----------------*/
    .menu_modal
    {
        width: 325px;
        padding-inline: 48px;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head .all_link a
    {
        height: 48px;
        padding-inline: calc(var(--cont_padding) - 2px);
    }



    /*------------------
        Form elements
    ------------------*/
    .form .checkbox
    {
        min-height: 24px;
        padding-left: 40px;

        font-size: var(--font_size_s);
    }


    .form .checkbox .check
    {
        width: 24px;
        height: 24px;
    }


    .form .submit_btn span
    {
        height: 52px;
    }



    /*------------
        Design
    ------------*/
    .design .head .title,
    .design .head .desc
    {
        width: 100%;
    }


    .design .grid_row
    {
        display: grid;
        overflow: auto;

        width: calc(100% + var(--cont_padding_double));
        margin-block: 0;
        margin-inline: calc(var(--cont_padding) * -1);
        padding-inline: var(--cont_padding);

        gap: var(--inner_gap);
        grid-auto-flow: column;
        grid-auto-columns: max-content;
        scroll-padding: 0 var(--cont_padding);
        scroll-snap-type: x mandatory;
        scrollbar-color: transparent transparent !important;
        scrollbar-width: thin !important;
    }


    .design .grid_row::-webkit-scrollbar
    {
        display: none !important;

        width: 0 !important;
        height: 0 !important;

        background-color: transparent !important;
    }


    .design .grid_row::-webkit-scrollbar-thumb
    {
        background-color: transparent !important;
    }


    .design .grid_row > *
    {
        width: 266px;
        margin: 0;

        scroll-snap-align: start;
    }


    .design .link a
    {
        height: 60px;
    }



    /*----------------------------
        Equipment and delivery
    ----------------------------*/
    .equipment_delivery .grid_row
    {
        --count_per_line: 1;
    }



    /*--------------
        Projects
    --------------*/
    .projects
    {
        margin-bottom: 100px;
    }


    .projects .grid_row
    {
        --count_per_line: 2;
        --offset_v: var(--inner_gap);
    }


    .projects .grid_row.inline
    {
        display: grid;
        overflow: auto;

        width: calc(100% + var(--cont_padding_double));
        margin-block: 0;
        margin-inline: calc(var(--cont_padding) * -1);
        padding-inline: var(--cont_padding);

        gap: var(--inner_gap);
        grid-auto-flow: column;
        grid-auto-columns: max-content;
        scroll-padding: 0 var(--cont_padding);
        scroll-snap-type: x mandatory;
        scrollbar-color: transparent transparent !important;
        scrollbar-width: thin !important;
    }


    .projects .grid_row.inline::-webkit-scrollbar
    {
        display: none !important;

        width: 0 !important;
        height: 0 !important;

        background-color: transparent !important;
    }


    .projects .grid_row.inline::-webkit-scrollbar-thumb
    {
        background-color: transparent !important;
    }


    .projects .grid_row.inline > *
    {
        width: 320px;
        margin: 0;

        scroll-snap-align: start;
    }



    /*----------------
        About info
    ----------------*/
    .about_info .image
    {
        width: 100%;
        max-width: 100%;
        margin-bottom: var(--inner_gap);
    }


    .about_info .data
    {
        width: 100%;
        max-width: 100%;
    }



    /*--------------
        Articles
    --------------*/
    .articles
    {
        margin-bottom: 100px;
    }


    .articles .grid_row
    {
        --count_per_line: 2;
    }


    .articles .grid_row.inline
    {
        display: grid;
        overflow: auto;

        width: calc(100% + var(--cont_padding_double));
        margin-block: 0;
        margin-inline: calc(var(--cont_padding) * -1);
        padding-inline: var(--cont_padding);

        gap: var(--inner_gap);
        grid-auto-flow: column;
        grid-auto-columns: max-content;
        scroll-padding: 0 var(--cont_padding);
        scroll-snap-type: x mandatory;
        scrollbar-color: transparent transparent !important;
        scrollbar-width: thin !important;
    }


    .articles .grid_row.inline::-webkit-scrollbar
    {
        display: none !important;

        width: 0 !important;
        height: 0 !important;

        background-color: transparent !important;
    }


    .articles .grid_row.inline::-webkit-scrollbar-thumb
    {
        background-color: transparent !important;
    }


    .articles .grid_row.inline > *
    {
        width: 320px;
        margin: 0;

        scroll-snap-align: start;
    }



    /*------------------
        Action block
    ------------------*/
    .action_block .data
    {
        padding-block: 60px;
    }


    .action_block.view2 .data
    {
        padding-left: 80px;
    }


    .action_block .info
    {
        width: 320px;
    }


    .action_block.view2 .info
    {
        width: 360px;
    }


    .action_block .title
    {
        font-size: 52px;
    }



    /*-------------------
        Services head
    -------------------*/
    .services_head .data
    {
        min-height: 360px;
    }


    .services_head .data:after
    {
        width: auto;

        aspect-ratio: 1 / 1;
    }


    .services_head .desc
    {
        width: 560px;

        font-size: var(--font_size);
    }



    /*----------------
        About page
    ----------------*/
    .about_page
    {
        padding-block: 60px;
    }



    /*--------------
        Services
    --------------*/
    .services .grid_row
    {
        --count_per_line: 2;
    }


    .services .service
    {
        height: 180px;
    }


    .services .service .name
    {
        font-size: 20px;
    }



    /*------------------------
        For designers head
    ------------------------*/
    .for_designers_head
    {
        padding-block: 60px;
    }


    .for_designers_info .title
    {
        width: 100%;
        margin-bottom: var(--cont_padding);
    }


    .for_designers_info .desc
    {
        width: 100%;
    }



    /*------------------
        Service info
    ------------------*/
    .service_info
    {
        margin-bottom: 80px;
    }


    .service_info .data,
    .service_info .data.big
    {
        order: 2;

        width: 100%;
    }


    .service_info .images,
    .service_info .data.big + .images
    {
        order: 1;

        width: 100%;
        margin-bottom: var(--cont_padding);
    }


    .service_info .cols
    {
        flex-wrap: wrap;
    }



    /*----------------
        Inner page
    ----------------*/
    .inner_page
    {
        margin-bottom: 60px;
        padding-block: 60px 0;
    }



    /*-------------------
        Contacts info
    -------------------*/
    .contacts_info .item.location
    {
        width: 100%;
    }


    .contacts_info .item.phone,
    .contacts_info .item.email
    {
        width: 100%;
        margin-top: var(--cont_padding_double);
        margin-left: 0;
    }


    .contacts_info .item.phone .val
    {
        gap: var(--cont_padding);
    }



    /*---------------
        Subscribe
    ---------------*/
    .subscribe
    {
        margin-bottom: 140px;
    }


    .subscribe .title br
    {
        display: none;
    }


    .subscribe .links
    {
        gap: var(--inner_gap);
    }


    .subscribe .links a
    {
        height: 60px;
    }



    /*------------------
        Article info
    ------------------*/
    .article_info
    {
        padding-top: 60px;
    }


    .article_info .head .image
    {
        width: 100%;
        margin-bottom: var(--cont_padding);
    }


    .article_info .head .info
    {
        width: 100%;
    }


    .article_info .sections
    {
        margin-top: 60px;

        gap: 60px;
    }


    .article_info .sections + *
    {
        margin-top: 60px;
    }


    .article_info .sections .data,
    .article_info .sections .data.big
    {
        order: 2;

        width: 100%;
    }


    .article_info .sections .images,
    .article_info .sections .data.big + .images
    {
        order: 1;

        width: 100%;
        margin-bottom: var(--cont_padding);
    }



    /*------------------
        Project info
    ------------------*/
    .project_info
    {
        padding-top: 60px;
    }


    .project_info .head .image
    {
        width: 100%;
        margin-bottom: var(--cont_padding);
    }


    .project_info .head .data
    {
        width: 100%;
    }


    .project_info .head .title
    {
        margin-bottom: 16px;

        font-size: var(--font_size);
        line-height: calc(100% + 8px);
    }



    /*----------------
        Error page
    ----------------*/
    .error_page
    {
        padding-block: 220px 60px;
    }


    .error_page .desc
    {
        font-size: var(--font_size);
    }


    .error_page .links a
    {
        height: 68px;

        font-size: var(--font_size);
    }


    .error_page .links a.back
    {
        width: 248px;

        font-size: 18px;
    }



    /*------------
        Footer
    ------------*/
    footer .data
    {
        padding-block: 68px;
    }


    footer .title
    {
        font-size: 20px;
    }


    footer .contacts
    {
        width: 244px;
    }



    footer .links .items
    {
        max-width: 260px;

        gap: 16px;
    }


    footer .logo
    {
        width: 100%;
        margin-bottom: 40px;
    }



    /*-----------
        PopUp
    -----------*/
    .modal
    {
        --modal_width: 404px;
    }


    .modal .form
    {
        margin-top: var(--cont_padding);
    }
}
